{% set entity_type = entity_type|replace({'soda_scs_': ''}) %}
  <h1 class="center text-center text-stone-200 text-8xl font-bold mb-10">Desk</h1>
    {% if entitiesByUser is not empty %}
      {% for username, entities in entitiesByUser %}
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold text-stone-200 mb-4">{{ entity_type }}s of User {{ username }}</h2>
        </div>

        {% set entity_count = entities|length %}
        {% set grid_class = 'grid-count-' ~ entity_count %}

        <div {{ attributes.addClass(grid_class) }} class="soda-scs-manager--view--grid mb-12">
          {% for entity in entities %}
            {{ entity }}
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-info opacity-90 bg-slate-950 border-2 border-stone-200 shadow-lg shadow-cyan-500/50 p-4 rounded-lg text-center">
        <p class="text-stone-200 text-xl">{{ 'No ' ~ entity_type ~ 's found.'|t }}</p>
      </div>
    {% endif %}
  </div>
