{{ entity_type|replace({'soda_scs_': ''}) }}
<div class="soda-scs-manager--type--card">
  <div class="image-wrapper">
    <img class="card-img-top " src="{{ file_url(imageUrl) }}" alt="{{ label }}" style="max-width: 200px;">
  </div>
  <div class="card-body ">
    <h5 class="soda-scs-manager--card-title">{{ title }}</h5>
    <a href="{{ url }}" class="btn">
      MORE INFO
    </a>
  </div>
</div>
