{#
/**
 * @file
 * Default theme implementation for SODa SCS Manager administration card.
 *
 * Available variables:
 * - title: The card title.
 * - description: The card description.
 * - icon: The icon name.
 * - icon_class: CSS class for the icon.
 * - url: The card URL.
 * - color: The color scheme for the card.
 *
 * @ingroup themeable
 */
#}

<div class="soda-scs-manager--admin-card soda-scs-manager--admin-card-{{ color }}">
  <a href="{{ url }}" class="soda-scs-manager--admin-card-link">
    <div class="soda-scs-manager--admin-card-icon {{ icon_class }}">
      <img src="{{ icon_path }}" alt="{{ icon }}" class="soda-scs-manager--admin-card-icon-svg" />
    </div>
    <div class="soda-scs-manager--admin-card-content">
      <h3 class="soda-scs-manager--admin-card-title">{{ title }}</h3>
      <p class="soda-scs-manager--admin-card-description">{{ description }}</p>
    </div>
    <div class="soda-scs-manager--admin-card-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
  </a>
</div>

