{#
/**
 * @file
 * Default template for SodaScsstack entity.
 *
 * Available variables:
 * - elements: The render array for the SodaScsstack entity.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: The view mode.
 */
#}

<article{{attributes.addClass('soda-scs-manager--stack','soda-scs-manager--stack--default')}}>
  <header class="soda-scs-manager--stack--header">
    <div class="soda-scs-manager--stack--header--left">
      <div class="soda-scs-manager--stack--header-row">
        {% if elements.imageUrl %}
        <div class="soda-scs-manager--stack--thumbnail">
          {{ elements.imageUrl }}
        </div>
        {% endif %}
        {% if elements.label %}
        <div class="soda-scs-manager--stack--title">
          {{ elements.label }}
        </div>
        {% endif %}
      </div>
    </div> {# end of header left column #}

    <div class="soda-scs-manager--stack-header--right">
      <div class="soda-scs-manager--stack--machine-name-row">
        {% if elements.machineName %}
        <div class="soda-scs-manager--stack--machine-name">
          {{ elements.machineName }}
        </div>
        {% endif %}
      </div>
      <div class="soda-scs-manager--stack--health-row">
        {% if elements.health %}
        <div class="soda-scs-manager--stack--health">
          {{ elements.health }}
        </div>
        {% endif %}
      </div>
    </div> {# end of header right column #}

    <div class="soda-scs-manager--stack--description-row">
      {% if elements.description %}
      <div class="soda-scs-manager--stack--description">
        {{ elements.description }}
      </div>
      {% endif %}
    </div> {# end of description row #}

    <div class="soda-scs-manager--stack--tags-row">
      {% if elements.tags %}
      <div class="soda-scs-manager--stack--tags">
        {{ elements.tags }}
      </div>
      {% endif %}
    </div> {# end of tags row #}
  </header>

  <main class="soda-scs-manager--stack--main">
    <div class="soda-scs-manager--stack--left-column">
      <div class="soda-scs-manager--stack--service-key">
        {% if elements.serviceKey %}
        {{ elements.serviceKey }}
        {% endif %}
      </div>
      <div class="soda-scs-manager--stack--snapshots">
        {% if elements.snapshots %}
        {{ elements.snapshots }}
        {% endif %}
      </div>
    </div>
    <div class="soda-scs-manager--stack--right-column">
      <div class="soda-scs-manager--stack--bundle">
        {% if elements.bundle %}
        {{ elements.bundle }}
        {% endif %}
      </div>
      <div class="soda-scs-manager--stack--partOfProjects">
      {% if elements.partOfProjects %}
      {{ elements.partOfProjects }}
      {% endif %}
      </div>
      <div class="soda-scs-manager--stack--connectedstacks">
      {% if elements.connectedstacks %}
      {{ elements.connectedstacks }}
      {% endif %}
      </div>
      <div class="soda-scs-manager--stack--status">
      {% if elements.status %}
      {{ elements.status }}
      {% endif %}
      </div>
      <div class="soda-scs-manager--stack--notes">
      {% if elements.notes %}
      {{ elements.notes }}
      {% endif %}
      </div>
    </div>
  </main>
  <footer class="soda-scs-manager--stack--footer">
    {% if elements.owner %}
	    <div class="soda-scs-manager--stack--owner">{{ elements.owner }}</div>
    {% endif %}
    {% if elements.created %}
      <div class="soda-scs-manager--stack--created">{{ elements.created }}</div>
    {% endif %}
    {% if elements.updated %}
      <div class="soda-scs-manager--stack--updated">{{ elements.updated }}</div>
    {% endif %}

  </footer>
</article>
