{{ entity_type|replace({'soda_scs_': ''}) }}
<div class="soda-scs-manager--type--card mx-auto">
  <img class="card-img-top p-3 mx-auto d-block" src="{{ file_url(imageUrl) }}" alt="{{ label }}" style="max-width: 150px;">
  <div class="card-body text-center d-flex flex-column justify-content-between">
    <h5 class="soda-scs-manager--card-title"> {{ title }} </h5>
    <a href="{{ url }}" class="btn btn-primary">MORE INFO</a>
  </div>
</div>
