{# wisski_cloud_account_manager/templates/wisski_cloud_account_manager_validation_page.html.twig #}
<div>
  {% if responseContents is not empty %}
    <table class="wisski-cloud-account-manager-table">
      <tr>
        <th>Person name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Subdomain</th>
        <th>Valid</th>
        <th>Provisioned</th>
      </tr>
      <tr>
        <td>{{ responseContents.data.personName }}</td>
        <td>{{ responseContents.data.email }}</td>
        <td>{{ responseContents.data.username }}</td>
        <td>{{ responseContents.data.subdomain }}</td>
        <td class="valid">
          {% if responseContents.data.valid == 1 %}
            yes
          {% elseif responseContents.data.valid == 0 %}
            no
            {% else %}
              unknown
          {% endif %}
        </td>
        <td class="provisioned">{% if responseContents.data.provisioned == 1 %}
            yes
          {% elseif responseContents.data.provisioned == 0 %}
            no
          {% elseif responseContents.data.provisioned == 2 %}
            ongoing
          {% else %}
            unknown
          {% endif %}</td>
      </tr>
    </table>
    <hr>
      <div class="wisski-cloud-account-manager-center">
      {% if responseContents.data.valid == 1 and responseContents.data.provisioned == 1 %}
        <p class="wisski-cloud-account-manager-success"><strong> Your account is valid and provisioned. You can now log in to your account at <a href="https://{{ responseContents.data.subdomain }}.wisski.cloud">https://{{ responseContents.data.subdomain }}.wisski.cloud</a>.</strong></p>
      {% elseif responseContents.data.valid == 1 and responseContents.data.provisioned == 0 %}
        <p class="wisski-cloud-account-manager-warning"><strong>Your account is valid but not yet provisioned. Please wait a few minutes and reload this page.</strong></p>
      {% elseif responseContents.data.valid == 0 %}
      <p class="wisski-cloud-account-manager-error"><strong>Your account is not valid. Please contact <a href="mailto:info@wiss-ki.eu">info@wiss-ki.eu</a> to resolve this issue.</strong></p>
      {% else %}
      <p class="wisski-cloud-account-manager-error"><strong>Something went wrong. Please contact <a href="mailto:info@wiss-ki.eu">info@wiss-ki.eu</a> to resolve this issue.</strong></p>
      {% endif %}
      </div>

  {% endif %}
</div>
