{# wisski_cloud_account_manager/templates/wisski_cloud_account_manager_account_managing_page.html.twig #}
<div>
  {% if accounts is not empty %}
    <table class="wisski-cloud-account-manager-table">
      <tr>
        <th>Id</th>
        <th>Person name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Subdomain</th>
        <th>Valid</th>
        <th>Provisioned</th>
        <th>Error</th>
        <th>Options</th>
      </tr>
      {% for item in accounts.data  %}
      <tr>
        <td>{{ item._id }}</td>
        <td>{{ item.personName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.subdomain }}</td>
        <td class="valid">
          {% if item.valid == 1 %}
            yes
          {% elseif item.valid == 0 %}
            no
            {% else %}
              unknown
          {% endif %}
        </td>
        <td class="provisioned">{% if item.provisioned == 1 %}
            ongoing
          {% elseif item.provisioned == 2 %}
            yes
          {% elseif item.provisioned == 3 %}
            no
          {% else %}
            unknown
          {% endif %}</td>
        <td>{{ accounts.error }}</td>
        <td><label for="account-edit"></label>
          <select name="account-edit" id="account-edit">
            <option value="edit">edit</option>
            {% if item.valid == 0 %}
            <option value="validate">validate</option>
            {% endif %}
            {% if item.provisioned == 0 %}
            <option value="provise">provise</option>
            {% endif %}
            <option value="delete">delete</option>
          </select></td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
